.input-title {
	border: none;
	background: none;
	font-size: 32px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	font-family: 'Source Sans 3', sans-serif;
	border-bottom: 1px solid #ffffff;
	width: 100%;
}

.input {
	border: none;
	background: none;
	font-size: 14px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	font-family: 'Source Sans 3', sans-serif;
	border-bottom: 1px solid #ffffff;
	width: 100%;
}

.invalid {
	border: 1px solid red;
	background: rgba(205, 31, 31, 0.61);
}

@media screen and (max-width: 940px){
	.input-title {
		margin-top: 40px;
    }
}

@media screen and (max-width: 480px){
    .input-title {
		font-size: 22px;
    }
}