.journal-add {
	padding: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 8px;
	font-size: 16px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
    background-color: rgba(145, 144, 222, 0.5);
}

@media screen and (max-width: 375px){
    .journal-add {
        font-size: 14px;
    }
}